In [ ]:
#created at 20250120

In [ ]:
https://www.scientecheasy.com/2022/09/data-types-in-python.html/

In [1]:
#int,float,complex

In [2]:
num1 = 20
num2 = 30
add  = num1 + num2 
print(add)

50

In [4]:
num1 = 20.55
num2 = 29.99
add  = num1 + num2
print(add)

50.54

In [5]:
num1 = 23E5
num2 = 27E5
add  = num1 + num2
print(add)

5000000.0

In [6]:
num1 = 3+7j
num2 = 2+8j
add  = num1 +num2
print(add)

(5+15j)

In [11]:
num1 =12
num2 = 78.09
num3 =78E5
num4 =7+7j
print(num1)
print(num2)
print(num3)
print(num4)
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))
print(isinstance(num3,float))

12
78.09
7800000.0
(7+7j)
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
True

In [12]:
#boolean

In [13]:
a = (10>=15)
b = (10 == 10 * 3)
c = (10 != 3 * 2)
print(a,b,c)

False False True

In [14]:
a = True
b = True * False
c = 5+True
d = True + 10
print(b,c,d)
print(type(a))

0 6 11
<class 'bool'>

In [15]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

In [16]:
#string
str1 = "Good morning"
str2 = "hi friends hope doing well"
print(str1)
print(str2)
print(type(str1))

Good morning
hi friends hope doing well
<class 'str'>

In [17]:
store = [10, 20.50, "Python", True]
print(store)
print(type(store))

[10, 20.5, 'Python', True]
<class 'list'>

In [18]:
number_list = [10,20,32,34]
print(number_list)
number_list[2] = 50
print(number_list)

[10, 20, 32, 34]
[10, 20, 50, 34]

In [23]:
#tuple

In [24]:
t = (1,2.5,"Arnald",4+3j)
print(t)
print(type(t))

(1, 2.5, 'Arnald', (4+3j))
<class 'tuple'>

In [25]:
#set

In [27]:
s = {1,2.7,"jack",5+6j}
print(s)
print(type(s))

{1, 2.7, 'jack', (5+6j)}
<class 'set'>

In [19]:
#dict

In [22]:
veg = {1 :'brinjal',
       2 :'carrot',
       'veg3' :'tomato'}
print(veg)
print(type(veg))

{1: 'brinjal', 2: 'carrot', 'veg3': 'tomato'}
<class 'dict'>