In [ ]:
#created at 20250421

In [ ]:
#Creating Dataframe

In [3]:
import pandas as pd

In [4]:
print("\n === Dataframe Creation ===")

 === Dataframe Creation ===

In [5]:
data = {
    'name' : ['John', 'Arnald', 'Antony'],
    'age':[21, 22, 21],
    'city':['coimbatore', 'banglore', 'Tirunelveli']
}

In [6]:
df = pd.DataFrame(data)

In [7]:
print(f"Dataframe:\n{df}")

Dataframe:
     name  age         city
0    John   21   coimbatore
1  Arnald   22     banglore
2  Antony   21  Tirunelveli

In [8]:
print(f"Head:\n{df.head()}")

Head:
     name  age         city
0    John   21   coimbatore
1  Arnald   22     banglore
2  Antony   21  Tirunelveli

In [10]:
print(f"Description :\n {df.describe()}")

Description :
              age
count   3.000000
mean   21.333333
std     0.577350
min    21.000000
25%    21.000000
50%    21.000000
75%    21.500000
max    22.000000

In [11]:
print(f"info:\n {df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
info:
 None

In [13]:
print(f"Column:\n {df.columns}")

Column:
 Index(['name', 'age', 'city'], dtype='object')

In [ ]:
#Dataframe Indexing

In [14]:
print("\n === Dataframe Indexing === ")

 === Dataframe Indexing ===

In [16]:
print(f"column: \n{df['name']}")

column:
0      John
1    Arnald
2    Antony
Name: name, dtype: object

In [17]:
print(f"Select rows:\n{df.loc[0:1]}")

Select rows:
     name  age        city
0    John   21  coimbatore
1  Arnald   22    banglore

In [18]:
print(f"Selcet by condition:\n{df[df['age'] > 30]}")

Selcet by condition:
Empty DataFrame
Columns: [name, age, city]
Index: []